{% extends 'layout.html.twig' %}
{% block title %}404{% endblock %}
{% block body %}
<div class="col-md-4 center">
    <h1 class="text-xxl text-primary text-center">404</h1>
    <div class="details  text-center">
        <h3>{{ 'errors.error'|trans }}</h3>
        <h3>{{ 'messages.errors.error'|trans }}/h3>
        <p> {{ 'errors.error1'|trans }}<a href="{{ path('reregistration_homepage') }}">{{ 'accueilar'|trans }} </a> {{ 'rechercherar'|trans }} </p>
        <p>{{ 'messages.errors.error1'|trans }} <a href="{{ path('reregistration_homepage') }}">{{ 'accueilfr'|trans }}</a> {{ 'rechercherfr'|trans }}</p>
    </div>
    <form class="input-group">
        <input type="text" class="form-control" placeholder="البحث">
        <span class="input-group-btn">
            <button class="btn btn-default"><i class="fa fa-search"></i></button>
        </span>
    </form>
</div>
{% endblock %}