{% extends 'layout.html.twig' %}

{% block body %}
    <h1>EtudiantLicence</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etudiantLicence.id }}</td>
            </tr>
            <tr>
                <th>Cne</th>
                <td>{{ etudiantLicence.cne }}</td>
            </tr>
            <tr>
                <th>Nationalite</th>
                <td>{{ etudiantLicence.nationalite }}</td>
            </tr>
            <tr>
                <th>Nomfr</th>
                <td>{{ etudiantLicence.nomfr }}</td>
            </tr>
            <tr>
                <th>Prenomfr</th>
                <td>{{ etudiantLicence.prenomfr }}</td>
            </tr>
            <tr>
                <th>Nomar</th>
                <td>{{ etudiantLicence.nomAr }}</td>
            </tr>
            <tr>
                <th>Prenomar</th>
                <td>{{ etudiantLicence.prenomAr }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ etudiantLicence.sexe }}</td>
            </tr>
            <tr>
                <th>Etatcivil</th>
                <td>{{ etudiantLicence.etatCivil }}</td>
            </tr>
            <tr>
                <th>Handicap</th>
                <td>{% if etudiantLicence.handicap %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Bourse</th>
                <td>{% if etudiantLicence.bourse %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Lieunaissfr</th>
                <td>{{ etudiantLicence.lieuNaissFr }}</td>
            </tr>
            <tr>
                <th>Lieunaissar</th>
                <td>{{ etudiantLicence.lieuNaissAr }}</td>
            </tr>
            <tr>
                <th>Datenaiss</th>
                <td>{% if etudiantLicence.dateNaiss %}{{ etudiantLicence.dateNaiss|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ etudiantLicence.cin }}</td>
            </tr>
            <tr>
                <th>Adresseetd</th>
                <td>{{ etudiantLicence.adresseEtd }}</td>
            </tr>
            <tr>
                <th>Gsm</th>
                <td>{{ etudiantLicence.gsm }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ etudiantLicence.email }}</td>
            </tr>
            <tr>
                <th>Nomprenomperefr</th>
                <td>{{ etudiantLicence.nomPrenomPereFr }}</td>
            </tr>
            <tr>
                <th>Nomprenommerefr</th>
                <td>{{ etudiantLicence.nomPrenomMereFr }}</td>
            </tr>
            <tr>
                <th>Anneebac</th>
                <td>{{ etudiantLicence.anneeBac }}</td>
            </tr>
            <tr>
                <th>Anneediplome</th>
                <td>{{ etudiantLicence.anneeDiplome }}</td>
            </tr>
            <tr>
                <th>Spesialite</th>
                <td>{{ etudiantLicence.spesialite }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('etudiantlicence_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('etudiantlicence_edit', { 'id': etudiantLicence.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
