{% extends '::layout.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
    {% if inscription or re_inscription  %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel info-box panel-white">
                    <div class="panel-body">
                        <div class="info-box-stats">
                            <p class="counter">{{ nbrDEUG }}</p>
                            <span class="info-box-title">{{ 'etudiant.nbr_etudiant_deug' | trans }}</span>
                        </div>
                        <div class="info-box-icon">
                            <i class="icon-users"></i>
                        </div>
                        <div class="info-box-progress">
                            <div class="progress progress-xs progress-squared bs-n">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ nbrDEUG }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ nbrDEUG }}%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel info-box panel-white">
                    <div class="panel-body">
                        <div class="info-box-stats">
                            <p class="counter">{{ nbrLicence }}</p>
                            <span class="info-box-title">{{ 'etudiant.nbr_etudiant_licence' | trans }}</span>
                        </div>
                        <div class="info-box-icon">
                            <i class="icon-users"></i>
                        </div>
                        <div class="info-box-progress">
                            <div class="progress progress-xs progress-squared bs-n">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ nbrLicence }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ nbrLicence }}%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel info-box panel-white">
                    <div class="panel-body">
                        <div class="info-box-stats">
                            <p><span class="counter">{{ nbrMaster }}</span></p>
                            <span class="info-box-title">{{ 'etudiant.nbr_etudiant_master' | trans }}</span>
                        </div>
                        <div class="info-box-icon">
                            <i class="icon-users"></i>
                        </div>
                        <div class="info-box-progress">
                            <div class="progress progress-xs progress-squared bs-n">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ nbrMaster }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ nbrMaster }}%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel info-box panel-white">
                    <div class="panel-body">
                        <div class="info-box-stats">
                            <p class="counter">{{ nbrDoctorat }}</p>
                            <span class="info-box-title">{{ 'etudiant.nbr_etudiant_doctorat' | trans }}</span>
                        </div>
                        <div class="info-box-icon">
                            <i class="icon-users"></i>
                        </div>
                        <div class="info-box-progress">
                            <div class="progress progress-xs progress-squared bs-n">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ nbrDoctorat }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ nbrDoctorat }}%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Row -->
    {% endif %}
    <div class="sortable">
        <div class="row">
            {%  if inscription %}
            <div class="col-md-6">
                <div class="panel panel-purple">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ 'new_inscription' | trans }}</h3>
                        <div class="panel-control">
                            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Expand/Collapse" class="panel-collapse"><i class="icon-arrow-down"></i></a>
                            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Reload" class="panel-reload"><i class="icon-reload"></i></a>
                            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Remove" class="panel-remove"><i class="icon-close"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        {{ inscription.value | raw }}
                    </div>
                    <div class="panel-footer">
                        <p>
                            <a href="{{ path('reregistration_registration') }}" class="btn btn-primary btn-addon m-b-sm pull-right">تسجيل جديد</a>
                            <a href="{{ path('reregistration_registration') }}" class="btn btn-primary btn-addon m-b-sm pull-left">Nouvelle Inscription</a>
                        </p>
                    </div>
                </div>
            </div>
            {% endif %}
            {%  if re_inscription %}
            <div class="col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ 're_inscription' | trans }}</h3>
                        <div class="panel-control">
                            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Expand/Collapse" class="panel-collapse"><i class="icon-arrow-down"></i></a>
                            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Reload" class="panel-reload"><i class="icon-reload"></i></a>
                            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Remove" class="panel-remove"><i class="icon-close"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        {{ re_inscription.value | raw }}
                    </div>
                    <div class="panel-footer">
                        <p>
                            <a href="{{ path('reregistration_re_registration') }}" class="btn btn-success btn-addon m-b-sm pull-right">إعادة التسجيل</a>
                            <a href="{{ path('reregistration_re_registration') }}" class="btn btn-success btn-addon m-b-sm pull-left">Ré-Inscription</a>
                        </p>
                    </div>
                </div>
            </div>
            {% endif %}
        </div><!-- Row -->
    </div><!-- Sortable -->
    {% else %}
        <div class="col-md-6 center">
            <div class="panel panel-white" id="js-alerts">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Administration <small>Service se scolarité FLSH Saiss</small></h3>
                </div>
                <div class="panel-body">
                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4>Page d'inscription</h4>
                        <p>
                            {{ 'indisponible' | trans }}
                        </p>
                        <p>
                            <button type="button" class="btn btn-info">{{ 'contact'|trans }}</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}