{% extends 'layout.html.twig' %}
{% block title %}Doctorat{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/reregistration/assets/plugins/datatables/css/jquery.datatables.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/reregistration/assets/plugins/datatables/css/jquery.datatables_themeroller.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/reregistration/assets/plugins/x-editable/bootstrap3-editable/css/bootstrap-editable.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/reregistration/assets/plugins/bootstrap-datepicker/css/datepicker3.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block body %}
    <div class="panel panel-white">
        <div class="panel-heading clearfix">
            <h4 class="panel-title">Basic example</h4>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table id="example" class="display table" style="width: 100%; cellspacing: 0;">
                    <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">CNE</th>
                        <th class="text-center">Filière</th>
                        <th class="text-center">CIN</th>
                        <th class="text-center">Nom</th>
                        <th class="text-center">Prénom</th>
                        <th class="text-center">Genre</th>
                        <th class="text-center">Gsm</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Aficher</th>
                        <th class="text-center">Modifier</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">CNE</th>
                        <th class="text-center">Filière</th>
                        <th class="text-center">CIN</th>
                        <th class="text-center">Nom</th>
                        <th class="text-center">Prénom</th>
                        <th class="text-center">Genre</th>
                        <th class="text-center">Gsm</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Aficher</th>
                        <th class="text-center">Modifier</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for etudiantDoctorat in etudiantDoctorats %}
                        <tr>
                            <td>
                                <a href="{{ path('etudiantDoctorat_show', { 'id': etudiantDoctorat.id }) }}">
                                    {{ etudiantDoctorat.id }}
                                </a>
                            </td>
                            <td>{{ etudiantDoctorat.cne }}</td>
                            <td>{{ etudiantDoctorat.filiere.nom }}</td>
                            <td>{{ etudiantDoctorat.cin }}</td>
                            <td>{{ etudiantDoctorat.nomfr }}</td>
                            <td>{{ etudiantDoctorat.prenomfr }}</td>
                            <td>{{ etudiantDoctorat.sexe }}</td>
                            <td>{{ etudiantDoctorat.gsm }}</td>
                            <td>{{ etudiantDoctorat.email }}</td>
                            <td>
                                <a href="{{ path('etudiantdoctorat_show', { 'id': etudiantDoctorat.id }) }}"
                                   class="btn btn-info">
                                    <i class="fa fa-eye"></i> Afficher
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('etudiantdoctorat_edit', { 'id': etudiantDoctorat.id }) }}"
                                   class="btn btn-warning">
                                    <i class="fa fa-edit"></i> Modifier
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <a href="{{ path('etudiantdoctorat_new') }}" class="btn btn-danger btn-block">Lancer la Ré-inscription</a>
        </div>
        <div class="col-md-4">
            <a href="{{ path('etudiantdoctorat_new') }}" class="btn btn-warning btn-block">Lancer l'inscription</a>
        </div>
        <div class="col-md-4">
            <a href="{{ path('etudiantdoctorat_new') }}" class="btn btn-success btn-block">Ajouter un nouveau
                etudiant</a>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/reregistration/assets/plugins/jquery/jquery-2.1.3.min.js') }}"></script>
    <script src="{{ asset('bundles/reregistration/assets/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/reregistration/assets/plugins/pace-master/pace.min.js') }}"></script>
    <script src="{{ asset('bundles/reregistration/assets/plugins/jquery-blockui/jquery.blockui.js') }}"></script>
    <script src="{{ asset('bundles/reregistration/assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/reregistration/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('bundles/reregistration/assets/plugins/switchery/switchery.min.js') }}"></script>
    <script src="{{ asset('bundles/reregistration/assets/plugins/uniform/jquery.uniform.min.js') }}"></script>
    <script src="{{ asset('bundles/reregistration/assets/plugins/offcanvasmenueffects/js/classie.js') }}"></script>
    <script src="{{ asset('bundles/reregistration/assets/plugins/offcanvasmenueffects/js/main.js') }}"></script>
    <script src="{{ asset('bundles/reregistration/assets/plugins/waves/waves.min.js') }}"></script>
    <script src="{{ asset('bundles/reregistration/assets/plugins/3d-bold-navigation/js/main.js') }}"></script>
    <script src="{{ asset('bundles/reregistration/assets/plugins/jquery-mockjax-master/jquery.mockjax.js') }}"></script>
    <script src="{{ asset('bundles/reregistration/assets/plugins/moment/moment.js') }}"></script>
    <script src="{{ asset('bundles/reregistration/assets/plugins/datatables/js/jquery.datatables.min.js') }}"></script>
    <script src="{{ asset('bundles/reregistration/assets/plugins/x-editable/bootstrap3-editable/js/bootstrap-editable.js') }}"></script>
    <script src="{{ asset('bundles/reregistration/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('bundles/reregistration/assets/js/modern.min.js') }}"></script>
    <script src="{{ asset('bundles/reregistration/assets/js/pages/table-data.js') }}"></script>
{% endblock %}