{% extends '::layout.html.twig' %}

{% block body %}
    <h1>Etudiant list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Cne</th>
                <th>Nationalite</th>
                <th>Nomfr</th>
                <th>Prenomfr</th>
                <th>Nomar</th>
                <th>Prenomar</th>
                <th>Sexe</th>
                <th>Etatcivil</th>
                <th>Statutactuel</th>
                <th>Handicap</th>
                <th>Bourse</th>
                <th>Lieunaissfr</th>
                <th>Lieunaissar</th>
                <th>Datenaiss</th>
                <th>Cin</th>
                <th>Adresseetd</th>
                <th>Gsm</th>
                <th>Email</th>
                <th>Nomprenomperefr</th>
                <th>Nomprenommerefr</th>
                <th>Spesialite</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etudiant in etudiants %}
            <tr>
                <td><a href="{{ path('etudiant_show', { 'id': etudiant.id }) }}">{{ etudiant.id }}</a></td>
                <td>{{ etudiant.cne }}</td>
                <td>{{ etudiant.nationalite }}</td>
                <td>{{ etudiant.nomfr }}</td>
                <td>{{ etudiant.prenomfr }}</td>
                <td>{{ etudiant.nomAr }}</td>
                <td>{{ etudiant.prenomAr }}</td>
                <td>{{ etudiant.sexe }}</td>
                <td>{{ etudiant.etatCivil }}</td>
                <td>{{ etudiant.statutActuel.nom }}</td>
                <td>{% if etudiant.handicap %}Yes{% else %}No{% endif %}</td>
                <td>{% if etudiant.bourse %}Yes{% else %}No{% endif %}</td>
                <td>{{ etudiant.lieuNaissFr }}</td>
                <td>{{ etudiant.lieuNaissAr }}</td>
                <td>{% if etudiant.dateNaiss %}{{ etudiant.dateNaiss|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ etudiant.cin }}</td>
                <td>{{ etudiant.adresseEtd }}</td>
                <td>{{ etudiant.gsm }}</td>
                <td>{{ etudiant.email }}</td>
                <td>{{ etudiant.nomPrenomPereFr }}</td>
                <td>{{ etudiant.nomPrenomMereFr }}</td>
                <td>{{ etudiant.spesialite }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('etudiant_show', { 'id': etudiant.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('etudiant_edit', { 'id': etudiant.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('etudiant_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
